<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<br />
  <% if user_signed_in? %>
    <%= link_to current_user.username, edit_user_registration_path %>
    <br />
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button is-info" %>
  <% else %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "button is-info" %>
    <%= link_to 'Sign In', new_user_session_path, class: "button is-info" %>
  <% end %>
  </body>
</html>
